.section-features {
  margin-top: 100px;
  width: 100%;
}

.features-img .lottie-animation {
  text-align: center;
  margin: 0 auto;
}

.section-features .chef-img img {
  width: 90%;
  border-radius: 50%;
}

.feature-item {
  transition: 0.6s ease-in;
}

.feature-item img {
  border-radius: 100%;
  border: 1.5px solid var(--borderLight);
  box-shadow: var(--shadowAll);
  height: 115px;
  object-fit: cover;
  width: 115px;
}

.feature-item p {
  font-weight: 500;
  margin: 20px 0 0;
}

@media (max-width: 992px) {
  .features-img .lottie-animation {
    display: none;
  }

  .section-features {
    margin-top: 50px;
  }

  .section-features .chef-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
  }

  .section-features .chef-img img {
    width: 80%;
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .section-features {
    margin-top: 20px;
  }
}

@media (max-width: 488px) {
  .section-features {
    margin-top: 10px;
  }

  .feature-item img {
    height: 100px;
    width: 100px;
  }

  .section-features .chef-img img {
    width: 100%;
    margin-bottom: 2rem;
  }
}
