.options-container {
  display: flex;
  flex-direction: column;
}

.option-button {
  background-color: transparent;
  font-size: medium;
  color: var(--textColor);
  border: 1.5px solid var(--borderColor);
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.option-button:hover {
  background-color: var(--primaryColor);
  color: white;
  border-color: var(--primaryColor);
}
